*{
    outline: none !important;
    font-weight: lighter !important;

}
button, .added-task-checkbox, .added-task input{
    background: #a3b9fa !important;
    border-radius: 0 !important;
    border: 1px solid #a3b9fa !important;
    transition: 0.2s;
    box-shadow: none !important;
    color: white !important;
}
.added-task input{
    font-style: italic !important;
}
.added-task input:focus{
    background: #d5e0fd !important;
}
.add-new-task-group input{
    background: #d5e0fd !important;
    border-radius: 0 !important;
    border: 1px solid #a3b9fa !important;
    transition: 0.2s;
    box-shadow: none !important;
    color: white !important;
    font-style: italic !important;
}
.add-new-task-group input::placeholder{
    color: white !important;
    font-style: italic;
}
button:hover, .added-task-checkbox:hover{
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 1px solid #8a9cd0 !important;
    background: #8a9cd0 !important;
    color: white !important;
}
.add-new-task-group{
    margin-bottom: 50px;
}
.added-task{
    margin-bottom: 5px;
}
button.btn.btn-default.added-task-star-btn.star{
    background: #8a9cd0  !important;
}







